@using Microsoft.AspNetCore.Components
@using CitiesWebApplication.Models

<table id="city-table" class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Date
            </th>
            <th>
                Population
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Cities)
        {
            <tr class="city-row" id="city-row-@item.Id">
                <td class="city-name">
                    @item.Name
                </td>
                <td class="city-date">
                    @item.Date.ToString("dd.MM.yyyy")
                </td>
                <td class="city-poulation">
                    @item.Population
                </td>
                <td>
                    <a class="city-edit" href="City/Edit/@item.Id">Edit</a> |
                    <a class="delete-city disabled" rel="@item.Id" href="City/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public IEnumerable<City> Cities { get; set; }
}
